{% extends "base_site.html" %}
{% load i18n static %}

{% block extrahead %}
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item"><a href="{% url 'goalkeeper_game_view' game.id %}">{% trans "Goalkeeper game" %}</a></li>
            <li class="breadcrumb-item active">{% trans "Context" %}</li>
        </ol>

        <form role="form" method="post">{% csrf_token %}
            {% for num in context_list %}
                <div class="row">
                    <div class="col-12">
                        <div class="form-group">
                            <label class="control-label">{{ num }} {% trans "is a context?" %} <b style="color: red;">*</b></label>
                            <br>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="{{ num }}" id="{{ num }}" value="True" required>
                                <label class="form-check-label" for="{{ num }}">{% trans "Yes" %}</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="{{ num }}" id="{{ num }}" value="False">
                                <label class="form-check-label" for="{{ num }}">{% trans "No" %}</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="{{ num }}" id="{{ num }}" value="Null">
                                <label class="form-check-label" for="{{ num }}">{% trans "Not applicable" %}</label>
                            </div>
                            <br><br>
                        </div>
                    </div>
                </div>
            {% endfor %}

            <button type="submit" name="action" value="save" class="btn btn-primary">{% trans "Save" %}</button>
            <a href="{% url 'goalkeeper_game_view' game.id %}" class="btn btn-secondary">{% trans "Back" %}</a>
        </form>
    </div>
{% endblock %}