{% extends "base_site.html" %}
{% load i18n admin_static %}

{% block content %}
    <div class="container-fluid">
        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item active">{% trans "Games" %}</li>
        </ol>

        <div class="card">
            <div class="card-header">
                <div class="float-left"><h5 class="card-title">{% trans "List of games" %}</h5></div>
                <div class="float-right">
                    <a href="{% url 'goalkeeper_game_new' %}" class="btn btn-primary" data-toggle="tooltip" data-placement="left" title="{% trans "Add game" %}">{% trans "Create game" %}</a>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th class="w-25">{% trans "Game" %}</th>
                                <th class="w-25">{% trans "Phase" %}</th>
                                <th class="w-25">{% trans "Level" %}</th>
                                <th class="w-25">{% trans "Action" %}</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for game in games %}
                                <tr>
                                    <td>{{ game.config }}</td>
                                    <td>{{ game.phase }}</td>
                                    <td>{{ game.config.level }}</td>
                                    <td><a class="btn btn-primary" href="{% url 'goalkeeper_game_view' game.pk %}"> {% trans "See data" %}</a></td>
                                </tr>
                            {% empty %}
                                <tr>
                                    <td colspan="4" class="text-center">{% trans "No game found!" %}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}