{% extends "base_site.html" %}
{% load i18n staticfiles %}

{% block extrahead %}
    <script src="{% static 'js/show_modal_remove.js' %}"></script>
    <script src="{% static 'game/js/goalkeeper_game.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item"><a href="{% url 'goalkeeper_game_list' %}">{% trans "Games" %}</a></li>
            {% if creating %}
                <li class="breadcrumb-item active">{% trans "New goalkeeper game" %}</li>
            {% else %}
                <li class="breadcrumb-item active">{{ game }}</li>
            {% endif %}
        </ol>

        <form role="form" method="post">{% csrf_token %}
            <div class="row">
                <div class="col-sm-6 col-12">
                    <div class="form-group">
                        <label class="control-label">{% trans "Kicker" %} <b style="color: red;">*</b></label>
                        {% if creating %}
                            <small class="float-right">
                                <a class="" href="{% url 'game_config_new' %}"><i class="fa fa-fw fa-plus"></i> {% trans "Create kicker" %}</a>
                            </small>
                        {% endif %}
                        {{ goalkeeper_game_form.config }}
                        <div class="help-block with-errors"></div>
                    </div>
                </div>
                <div class="col-sm-6 col-12">
                    <div class="form-group">
                        <label class="control-label">{% trans "Number of directions" %} <b style="color: red;">*</b></label>
                        {{ goalkeeper_game_form.number_of_directions }}
                        <div class="help-block with-errors"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-12">
                    <div class="form-group">
                        <label class="control-label">{% trans "Number of plays" %} <b style="color: red;">*</b></label>
                        {{ goalkeeper_game_form.number_of_plays }}
                        <div class="help-block with-errors"></div>
                    </div>
                </div>
                <div class="col-sm-6 col-12">
                    <div class="form-group">
                        <label class="control-label">{% trans "Create sequence manually?" %}</label>
                        {{ goalkeeper_game_form.create_seq_manually }}
                        <div class="help-block with-errors"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-12">
                    <div class="form-group">
                        <label class="control-label">{% trans "Sequence" %}</label>
                        {{ goalkeeper_game_form.sequence }}
                        <div class="help-block with-errors"></div>
                    </div>
                </div>
                <div class="col-sm-6 col-12">
                    <div class="form-group">
                        <label for="id_phase" class="control-label">{% trans "Phase" %}</label>
                        <input type="number" name="phase" class="form-control" readonly="readonly" id="id_phase" {% if game %}value="{{ game.phase }}"{% endif %}>
                        <div class="help-block with-errors"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-12">
                    <div class="form-group">
                        <label class="control-label">{% trans "Deterministic or probabilistic move" %}</label>
                        {{ goalkeeper_game_form.seq_step_det_or_prob }}
                        <div class="help-block with-errors"></div>
                    </div>
                </div>
                <div class="col-sm-6 col-12">
                    <div class="form-group">
                        <label class="control-label">{% trans "Depth" %}</label>
                        {{ goalkeeper_game_form.depth }}
                        <div class="help-block with-errors"></div>
                    </div>
                </div>
            </div>

            {#  Optional fields  #}

            <div class="accordion" id="accordionExample">
                <div class="card">
                    <div class="card-header" id="headingOne">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                {% trans "Optional 1 - number of hits" %}
                            </button>
                        </h5>
                    </div>
                    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-6 col-12">
                                    <div class="form-group">
                                        <label class="control-label">{% trans "Minimum number of hits in sequence" %}</label>
                                        {{ goalkeeper_game_form.min_hits_in_seq }}
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-12">
                                    <div class="form-group">
                                        <label class="control-label">{% trans "Minimum number of hits" %}</label>
                                        {{ goalkeeper_game_form.min_hits }}
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6 col-12">
                                    <div class="form-group">
                                        <label class="control-label">{% trans "Number of plays to have a break" %}</label>
                                        {{ goalkeeper_game_form.plays_to_relax }}
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header" id="headingTwo">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                {% trans "Optional 2 - times" %}
                            </button>
                        </h5>
                    </div>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-6 col-12">
                                    <div class="form-group">
                                        <label class="control-label">{% trans "Animation time after a kick" %}</label>
                                        {{ goalkeeper_game_form.celebration_time }}
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-12">
                                    <div class="form-group">
                                        <label class="control-label">{% trans "Speed time for the opponent" %}</label>
                                        {{ goalkeeper_game_form.player_time }}
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6 col-12">
                                    <div class="form-group">
                                        <label class="control-label">{% trans "Type of final score board" %}</label>
                                        {{ goalkeeper_game_form.final_score_board }}
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header" id="headingThree">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                {% trans "Optional 3 - show/hide options" %}
                            </button>
                        </h5>
                    </div>
                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-4 col-12">
                                    <div class="form-group">
                                        <label class="control-label">{% trans "Show history" %}</label>
                                        {{ goalkeeper_game_form.show_history }}
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                                <div class="col-sm-4 col-12">
                                    <div class="form-group">
                                        <label class="control-label">{% trans "Show the score" %}</label>
                                        {{ goalkeeper_game_form.score_board }}
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                                <div class="col-sm-4 col-12">
                                    <div class="form-group">
                                        <label class="control-label">{% trans "Show play/pause button" %}</label>
                                        {{ goalkeeper_game_form.play_pause }}
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header" id="headingFour">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                {% trans "Optional 4 - buttons" %}
                            </button>
                        </h5>
                    </div>
                    <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-6 col-12">
                                    <div class="form-group">
                                        <label class="control-label">{% trans "Play/pause button" %}</label>
                                        {{ goalkeeper_game_form.play_pause_key }}
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-12">
                                    <div class="form-group">
                                        <label class="control-label">{% trans "Left button" %}</label>
                                        {{ goalkeeper_game_form.left_key }}
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6 col-12">
                                    <div class="form-group">
                                        <label class="control-label">{% trans "Center button" %}</label>
                                        {{ goalkeeper_game_form.center_key }}
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-12">
                                    <div class="form-group">
                                        <label class="control-label">{% trans "Right button" %}</label>
                                        {{ goalkeeper_game_form.right_key }}
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <br>
            {% if creating %}
                <button type="submit" name="action" value="save" class="btn btn-primary">{% trans "Save" %}</button>
                <a href="{% url 'goalkeeper_game_list' %}" class="btn btn-secondary">{% trans "Back" %}</a>
            {% elif editing %}
                <button type="submit" name="action" value="save" class="btn btn-primary">{% trans "Save" %}</button>
                <a href="{% url 'goalkeeper_game_view' game.id %}" class="btn btn-secondary">{% trans "Cancel" %}</a>
            {% elif viewing %}
                <a href="{% url 'goalkeeper_game_update' game.id %}" class="btn btn-primary" style="margin-left: 5px">{% trans "Edit" %}</a>
                <a href="{% url 'goalkeeper_game_list' %}" class="btn btn-secondary">{% trans "Back" %}</a>
                <button type="button" class="btn btn-danger float-right" onclick="showDialogAndEnableRemoveButton()">{% trans "Delete" %}</button>
            {% else %}
                <a href="{% url 'home' %}" class="btn btn-secondary">{% trans "Back" %}</a>
            {% endif %}

            <br>
            {% if viewing %}
                <br>
                {% include "game/context_tree.html" %}
            {% endif %}

            <div class="modal fade" id="modalRemove" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">{% trans "Delete goalkeeper game" %}</h5>
                        </div>
                        <div class="modal-body">
                            {% trans "Are you sure you want to delete this game?" %}
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="disableRemoveButton()">{% trans "Cancel" %}</button>
                            <button type="submit" class="btn btn-danger" id="remove_button" value="remove" disabled name="action">{% trans "Delete" %}</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock %}