{% extends "base_site.html" %}
{% load i18n static %}

{% block extrahead %}
    <link href="{% static "game/css/dashboard.css" %}" rel="stylesheet">
    <script type="text/javascript" src="{% static "game/js/chartjs-library.js" %}"></script>
    <script type="text/javascript" src="{% static 'game/js/dashboard.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
        </ol>
    </div>

    <div class="container-fluid">
        <div class="dashboard">
            <div class="info-header">
                <!-- item -->
                <div class="info-header-item">
                    <div class="info-icon"> <i class="fa fa-futbol-o" aria-hidden="true"></i> </div>
                    <div class="info-metric">
                        <h2> {% trans "Number of plays" %}</h2>
                        <p id="totalGames">{{ total_games }}</p>
                    </div>
                </div>
                <!-- item -->
                <div class="info-header-item">
                    <div class="info-icon"><i class="fa fa-check" aria-hidden="true"></i></div>
                    <div class="info-metric">
                        <h2>{% trans "Hit rate" %}</h2>
                        <p>{% if hit_rate %}{{ hit_rate }}%{% else %}---{% endif %}</p>
                    </div>
                </div>
                <!-- item -->
                <div class="info-header-item">
                    <div class="info-icon"><i class="fa fa-users" aria-hidden="true"></i></div>
                    <div class="info-metric">
                        <h2>{% trans "Total players" %}</h2>
                        <p>{{ total_players }}</p>
                    </div>
                </div>
            </div>

            <div class="chart-pane">
                <!-- Chart pane item -->
                <div class="chart-pane-item">
                    <div id="preloader" class="loader" style="background-image:url('{% static "game/loader.gif" %}');"></div>
                    <!-- <pre>Jogadas x Acertos</pre> -->
                    <canvas id="barChart" style="display: none;"></canvas>
                </div>

                <div class="chart-filter">
                    <div class="form-group">
                        <label> {% trans "Kickers" %} <i class="fa fa-info-circle" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="{% trans "Select a kicker to filter the results" %}"></i></label>
                        <select id="adversario" class="form-control" onchange="select_kicker_to_filter_phase(this.value);">
                            <option value="">{% trans "Select a kicker" %}</option>
                            {% for kicker in kickers %}
                                <option value="{{ kicker.name }}">{{ kicker.name }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="form-group">
                        <label> {% trans "Phase" %} <i class="fa fa-info-circle" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="Select a phase to filter the results"></i></label>
                        <select id="fase" class="form-control" >
                            <option value="">{% trans "Choose a kicker first" %}</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <button id="filtroBtn" onclick="filtrar()" class="btn btn-dark btn-lg btn-block"> {% trans "Filter" %} </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}