{% extends "base_site.html" %}
{% load i18n static %}

{% block extrahead %}
    <link href="{% static "game/css/dashboard.css" %}" rel="stylesheet">
    <script type="text/javascript" src="https://www.chartjs.org/dist/2.8.0/Chart.min.js"></script>
    <script src="{% static 'game/js/dashboard.js' %}"></script>
{% endblock %}

{% block content %}
{#    <div class="container-fluid">#}
{#        <!-- Breadcrumbs-->#}
{#        <ol class="breadcrumb">#}
{#            <li class="breadcrumb-item"><a href="/">Home</a></li>#}
{#        </ol>#}
{#    </div>#}

    <div class="container-fluid">
        <div class="dashboard">
            <h2 class="dashboard-title">Dashboard</h2>

            <div class="info-header">
                <!-- item -->
                <div class="info-header-item">
                    <div class="info-icon"> <i class="fa fa-futbol-o" aria-hidden="true"></i> </div>
                    <div class="info-metric">
                        <h2>Total de jogadas</h2>
                        <p id="totalGames">{{ total_games }}</p>
                    </div>
                </div>
                <!-- item -->
                <div class="info-header-item">
                    <div class="info-icon"><i class="fa fa-check" aria-hidden="true"></i></div>
                    <div class="info-metric">
                        <h2>Índice de acerto</h2>
                        <p>{{ total_hits }}</p>
                    </div>
                </div>
                <!-- item -->
                <div class="info-header-item">
                    <div class="info-icon"><i class="fa fa-users" aria-hidden="true"></i></div>
                    <div class="info-metric">
                        <h2>Total de usuários</h2>
                        <p>303</p>
                    </div>
                </div>
                <!--
                <div class="info-header-item">
                    <div class="info-icon"></div>
                    <div class="info-metric">
                        <h2>Partidas realizadas</h2>
                        <p>303</p>
                    </div>
                </div>
                -->
            </div>

            <div class="chart-pane">
                <!-- Chart pane item -->
                <div class="chart-pane-item">
                    <div id="preloader" class="loader" style="background-image:url('static/loader.gif');"></div>
                    <!-- <pre>Jogadas x Acertos</pre> -->
                    <canvas id="barChart" style="display: none;"></canvas>
                </div>

                <div class="chart-filter">
                    <div class="form-group">
                        <label for="">Adversário <i class="fa fa-info-circle" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="Descrição do campo"></i></label>
                        <select id="adversario" class="form-control" name="" id="">
                            <option value="Nildo">Nildo</option>
                            <option value="Rivelino">Rivelino</option>
                            <option value="Garrincha">Garrincha</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="">Fase <i class="fa fa-info-circle" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="Descrição do campo"></i></label>
                        <select id="fase" class="form-control" name="" id="">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <button id="filtroBtn" onclick="filtrar()" class="btn btn-dark btn-lg btn-block">Filtrar </button>
                    </div>
                </div>
            </div>

        </div>

    </div>
{% endblock %}