{% extends "base_site.html" %}
{% load i18n static %}

{% block extrahead %}
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item"><a href="{% url 'goalkeeper_game_list' %}">{% trans "Games" %}</a></li>
            <li class="breadcrumb-item"><a href="{% url 'goalkeeper_game_view' game.id %}">{{ game }}</a></li>
            <li class="breadcrumb-item active">{% trans "Probabilities" %}</li>
        </ol>

        <form class="form" role="form" method="post">{% csrf_token %}
            <div class="card">
                <div class="card-header">
                    <div class="float-left"><h5 class="card-title">{% trans "Probabilities" %}</h5></div>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th class="w-15">{% trans "Context" %}</th>
                                    {% for num in number_of_directions %}
                                        <th>{% trans "Probability for" %} {{ num }}</th>
                                    {% endfor %}
                                </tr>
                            </thead>
                            <tbody>
                                {% for item in list_of_contexts %}
                                    <tr>
                                        <td>{{ item.path }}</td>
                                        {% for num in number_of_directions %}
                                            <td>
                                                <input type="number" class="form-control" name="context-{{ item.path }}-{{ num }}" step="0.01">
                                            </td>
                                        {% endfor %}
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <br>
            <button type="submit" name="action" value="save" class="btn btn-primary">{% trans "Save" %}</button>
            <a href="{% url 'goalkeeper_game_view' game.id %}" class="btn btn-secondary">{% trans "Back" %}</a>
        </form>
    </div>
{% endblock %}